@page
@model DiamondStore.Pages.Orders.HistoryModel

@{
    ViewData["Title"] = "Order";
}

<div class="relative overflow-x-auto py-4">
    <div class="flex justify-between my-4">
        <h1 class="text-3xl font-bold col-span-3">Orders</h1>
    </div>

    <table class="w-full text-sm text-left rtl:text-right text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50">
            <tr>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.Order[0].Id)
                </th>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.Order[0].OrderDate)
                </th>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.Order[0].TotalAmount)
                </th>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.Order[0].Status)
                </th>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.Order[0].TotalPrice)
                </th>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.Order[0].User)
                </th>
                <th scope="col" class="px-6 py-3">
                    @Html.DisplayNameFor(model => model.Order[0].Voucher)
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
        </thead>
        <tbody id="tableBody">
            @foreach (var item in Model.Order)
            {
                <tr class="bg-white border-b">
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        @Html.DisplayFor(modelItem => item.OrderDate)
                    </td>
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        @Html.DisplayFor(modelItem => item.TotalAmount)
                    </td>
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        @Html.DisplayFor(modelItem => item.TotalPrice)
                    </td>
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        @Html.DisplayFor(modelItem => item.User.Email)
                    </td>
                    <td scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                        @Html.DisplayFor(modelItem => item.Voucher.Name)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
