@page
@model DiamondStore.Pages.DeliveryManagepage.DetailsModel

@{
    ViewData["Title"] = "Details";
}

 <h1>Details</h1>

<div>
    <h4>Delivery</h4>
    <hr />
    <dl class="row">
        <!-- Delivery ID -->
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Delivery.Id)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Delivery.Id)
        </dd>

        <!-- Delivery Status -->
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Delivery.Status)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Delivery.Status)
        </dd>

        <!-- Manager Email -->
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Delivery.Manager)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Delivery.Manager.Email)
        </dd>

        <!-- Order Status -->
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Delivery.Order)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Delivery.Order.Id)
        </dd>

        <!-- Shiper Email -->
        <dt class="col-sm-3 font-weight-bold">
            @Html.DisplayNameFor(model => model.Delivery.Shiper)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Delivery.Shiper.Email)
        </dd>
    </dl>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Delivery.DeliveryId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
 
