@page
@model DiamondStore.Pages.OrderItems.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderItem[0].Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderItem) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.OrderItemId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.OrderItemId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.OrderItemId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
